@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: #fafafa;
}

h1,
h2 {
  color: #4c4e61;
}

p {
  color: #a3a5ae;
}

main {
  width: 90%;
  min-width: 338px;
  max-width: 338px;
  margin: auto;
}

main .main__header {
  margin: 75px 0;
  text-align: center;
}

main .main__header h1 {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

main .main__header h1 span {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  main .main__header h1 {
    font-size: 2rem;
  }
}

main .main__header p {
  font-size: 1rem;
}

@media only screen and (min-width: 1366px) {
  main .main__header p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 768px) {
  main .main__header {
    margin: 50px auto;
    max-width: 450px;
  }
}

main .cards {
  margin-top: 25px;
}

main .cards .card {
  width: 100%;
  height: 250px;
  background: white;
  margin-bottom: 10%;
  border-radius: 6px;
  -webkit-box-shadow: 5px 1px 10px -5px #a3a5ae, -5px -5px 10px -5px #a3a5ae;
          box-shadow: 5px 1px 10px -5px #a3a5ae, -5px -5px 10px -5px #a3a5ae;
}

main .cards .card__header {
  padding: 25px;
}

main .cards .card__image-wrapper {
  padding: 25px;
  -webkit-transform: translateX(210px);
          transform: translateX(210px);
  position: absolute;
}

@media only screen and (min-width: 768px) {
  main .cards .card {
    max-width: 320px;
  }
}

@media only screen and (min-width: 1366px) {
  main .cards .card {
    max-width: 338px;
    margin-bottom: 25px;
  }
}

main .cards .card:nth-child(1) {
  border-top: 5px solid #45d3d3;
}

@media only screen and (min-width: 1366px) {
  main .cards .card:nth-child(1) {
    position: absolute;
    left: 70px;
    bottom: 145px;
  }
}

main .cards .card:nth-child(2) {
  border-top: 5px solid #ea5353;
}

main .cards .card:nth-child(3) {
  border-top: 5px solid #fcaf4a;
}

main .cards .card:nth-child(4) {
  border-top: 5px solid #549ef2;
}

@media only screen and (min-width: 1366px) {
  main .cards .card:nth-child(4) {
    position: absolute;
    right: 70px;
    bottom: 145px;
  }
}

@media only screen and (min-width: 768px) {
  main .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    margin: auto;
  }
}

@media only screen and (min-width: 1366px) {
  main .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    max-width: 1215px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */